<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/Img/weather.png">
    <link rel ="stylesheet" href="./css/style.css">
    
</head>
<body>
    <div class = "main-content">
        {{>header}}
        <p>{{error_msg}}</p>

    </div>
    
    {{>footer}}
</body>
</html>